@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @{
                foreach (Alumnos nomApell in @ViewBag.ListaNomApellAlumnos){
                    <p>@ViewBag.Alumno.Nombre</p>
                    <p>@ViewBag.Alumno.Apellido</p>
                }
    }

</div>
